= form_for [review, Comment.new], remote: true, html: { class: 'comment_create_form form-group p-1', id: "comment_create_form_#{review.id}", style: 'display:none;' } do |f|

  = f.text_area :text, id: :text, class: 'form-control'

  input.comment_create_cancel_btn.mt-2.m-1 id="comment_create_cancel_btn_#{review.id}" type='button' value='Cancel' data-review_id=review.id

  = f.submit 'Publish', class: 'm-1'