= form_for comment, remote: true, html: { class: 'comment_edit_form form-group p-1', id: "comment_edit_form_#{comment.id}", style: 'display:none;' } do |f|

  = f.text_area :text, id: :text, class: 'form-control'

  input.comment_edit_cancel_btn.mt-2.m-1 id="comment_edit_cancel_btn_#{comment.id}" type='button' value='Cancel' data-comment_id=comment.id

  = f.submit 'Confirm', class: 'm-1'